.createPostContainer {
  border-top: 2px solid rgb(228, 227, 227);
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(202, 202, 202, 0.2);
  box-sizing: border-box;
    padding: 8px 0px;
}

.createPostContainer img {
  /* margin-left: 5px; */
  height: 35px;
  width: 35px;
  cursor: pointer;
  border-radius: 50%;
  object-fit: cover;
}

.createPostContainer input {
  width: 78%;
  padding: 8px 10px;
  background-color: #f0f2f5;
  border-radius: 25px;
  border: 0;
  font-size: 19px;
  outline: none;
  cursor: pointer;
}
input::placeholder{
  text-align: center;
 
}

.photoinput {
  width: 10%;
  cursor: pointer;
  margin-right: 5px
}
